flows.json
[
    {
        "id": "80e273ddd2df9cac",
        "type": "tab",
        "label": "Assistente Voz 3c",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2619bbb1f5ed10e1",
        "type": "ui_microphone",
        "z": "80e273ddd2df9cac",
        "name": "Microfone",
        "group": "group_voice",
        "order": 1,
        "width": "6",
        "height": "1",
        "maxLength": "",
        "maxRecogLength": "",
        "press": "click",
        "mode": "recog",
        "interimResults": false,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "c4cf30c64a2c8e74",
                "ca09e3fb65ec2bed"
            ]
        ]
    },
    {
        "id": "c4cf30c64a2c8e74",
        "type": "debug",
        "z": "80e273ddd2df9cac",
        "name": "Texto reconhecido",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1010,
        "y": 100,
        "wires": []
    },
    {
        "id": "ca09e3fb65ec2bed",
        "type": "function",
        "z": "80e273ddd2df9cac",
        "name": "Interpretar Comando",
        "func": "const texto = (msg.payload || '').toLowerCase().trim();\n\nif (texto.includes('chuva hoje')) {\n    msg.comando = 'chuva_hoje';\n    msg.url = 'https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1040200.json';\n} else if (texto.includes('chuva amanhã') || texto.includes('chuva amanha')) {\n    msg.comando = 'chuva_amanha';\n    msg.url = 'https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1040200.json';\n} else if (texto.includes('temperatura')) {\n    msg.comando = 'temperatura';\n    msg.url = 'https://api.ipma.pt/open-data/observation/meteorology/stations/observations.json';\n} else if (texto.includes('humidade')) {\n    msg.comando = 'humidade';\n    msg.url = 'https://api.ipma.pt/open-data/observation/meteorology/stations/observations.json';\n} else {\n    msg.comando = 'desconhecido';\n    msg.payload = 'Comando não reconhecido. Tente: Previsão de Chuva Hoje, Previsão de Chuva Amanhã, Temperatura Atual ou Humidade Atual.';\n    msg.url = null;\n}\n\nreturn msg;",
        "outputs": 1,
        "x": 1020,
        "y": 180,
        "wires": [
            [
                "bd868fbfa835e6c7"
            ]
        ]
    },
    {
        "id": "bd868fbfa835e6c7",
        "type": "http request",
        "z": "80e273ddd2df9cac",
        "name": "API IPMA",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{{url}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 900,
        "y": 280,
        "wires": [
            [
                "f398d6182bc59713"
            ]
        ]
    },
    {
        "id": "f398d6182bc59713",
        "type": "json",
        "z": "80e273ddd2df9cac",
        "name": "",
        "x": 1090,
        "y": 280,
        "wires": [
            [
                "d835f82b1e5fbf96"
            ]
        ]
    },
    {
        "id": "d835f82b1e5fbf96",
        "type": "function",
        "z": "80e273ddd2df9cac",
        "name": "Formatar Resposta",
        "func": "const comando = msg.comando;\nconst dados = msg.payload;\nlet resposta = 'Não entendi o comando. Tente novamente.';\n\nif (comando === 'chuva_hoje') {\n    const hoje = dados.data[0];\n    resposta = `Probabilidade de Chuva hoje é de ${hoje.precipitaProb} porcento`;\n\n} else if (comando === 'chuva_amanha') {\n    const amanha = dados.data[1];\n    resposta = `Probabilidade de chuva para amanhã é de ${amanha.precipitaProb} porcento`;\n\n} else if (comando === 'temperatura') {\n    const idEstacao = '1200575';\n    const horas = Object.keys(dados).sort().reverse();\n    let temp = null;\n    for (const h of horas) {\n        const e = dados[h][idEstacao];\n        if (e && e.temperatura !== -99.0) {\n            temp = e.temperatura;\n            break;\n        }\n    }\n    resposta = temp !== null\n        ? `A temperatura atual é de ${temp} graus Celsius`\n        : 'Não foi possível obter a temperatura atual';\n\n} else if (comando === 'humidade') {\n    const idEstacao = '1200575';\n    const horas = Object.keys(dados).sort().reverse();\n    let hum = null;\n    for (const h of horas) {\n        const e = dados[h][idEstacao];\n        if (e && e.humidade !== -99.0) {\n            hum = e.humidade;\n            break;\n        }\n    }\n    resposta = hum !== null\n        ? `A humidade relativa do ar atual é de ${hum} porcento`\n        : 'Não foi possível obter a humidade atual';\n}\n\nmsg.payload = resposta;\nreturn msg;",
        "outputs": 1,
        "x": 810,
        "y": 360,
        "wires": [
            [
                "0aeadaf11106be13",
                "8ec4305b822609f7"
            ]
        ]
    },
    {
        "id": "8ec4305b822609f7",
        "type": "ui_template",
        "z": "80e273ddd2df9cac",
        "group": "group_voice",
        "name": "Mostrar Resposta",
        "order": 3,
        "width": "12",
        "height": "2",
        "format": "<h4 style='margin:0 0 8px;font-size:14px;color:#666'>Resposta do Assistente:</h4><p style='font-size:18px;margin:0;color:#1565C0'>{{msg.payload}}</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 830,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "0aeadaf11106be13",
        "type": "function",
        "z": "80e273ddd2df9cac",
        "name": "Montar URL TTS",
        "func": "const texto = encodeURIComponent(msg.payload);\nmsg.url = `https://translate.google.com/translate_tts?ie=UTF-8&q=${texto}&tl=pt&client=tw-ob`;\nmsg.headers = { 'User-Agent': 'Mozilla/5.0' };\nreturn msg;",
        "outputs": 1,
        "x": 1050,
        "y": 360,
        "wires": [
            [
                "2e665f802ff2f329"
            ]
        ]
    },
    {
        "id": "2e665f802ff2f329",
        "type": "http request",
        "z": "80e273ddd2df9cac",
        "name": "Download MP3 TTS",
        "method": "GET",
        "ret": "bin",
        "url": "{{{url}}}",
        "x": 1060,
        "y": 460,
        "wires": [
            [
                "d42ba76b649e1b1e"
            ]
        ]
    },
    {
        "id": "d42ba76b649e1b1e",
        "type": "ui_audio",
        "z": "80e273ddd2df9cac",
        "name": "Audio Out",
        "group": "group_voice",
        "always": true,
        "x": 980,
        "y": 540,
        "wires": []
    },
    {
        "id": "group_voice",
        "type": "ui_group",
        "name": "Assistente de Voz",
        "tab": "ui_tab_voice",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_tab_voice",
        "type": "ui_tab",
        "name": "Voz",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "44678b36ca3cbbe3",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-ui-microphone": "0.3.1",
            "node-red-dashboard": "3.6.6"
        }
    }
]